@import url('https://fonts.google.com/selection?selection.family=Source+Sans+Pro:300,400,600');

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
    max-width: 1600px;
    margin: 0 auto !important;
    color: #011F3F;
}

nav {
    display: flex;
    margin: 1em;
    align-items: center;
    justify-content: space-between;
}

nav img {
    width: 200px;
    height: 100%;
    padding: 0 1em 0 0;
}

nav a {
    font-size: 1.33em;
    color: #011F3F;
    text-decoration: underline;
    padding: 0 1em 0 1em;
}

.landing_section {
    display: flex;
    margin: 1em;
    align-items: center;
}

#wrapper_text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading_1 {
    font-weight: 600;
    font-size: 3em;
    text-align: center;
    margin: 0;
}

.heading_2 {
    font-weight: 300;
    font-size: 1.5em;
    text-align: center;
    margin: 1em 0 0 0;
}

.main_cta {
    background: #096cdb;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    padding: 0.5em;
    margin: 1em 0 0 0;
    width: 150px;
    text-align: center;
    text-decoration: none;
}

.middle_section {
    margin: 2em 1em 2em 1em;
}

.heading_3 {
    font-weight: 600;
    font-size: 2em;
    text-align: center;
    margin: 0;
}

.heading_diff {
    font-weight: 300;
    font-size: 1.33em;
    margin: 0 0 0.8em 0;
    text-align: center;
}

.tags_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tag {
    background: #479CFF;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    padding: 0.3em;
    margin: 0.1em 0.2em;
    text-align: center;
    text-decoration: none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.tag:hover, .active {
    background-color: #0960C6; 
}

.list_of_cards {
    margin: 1em;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    height: 100%;
    width: 100%;
    -webkit-overflow-scrolling: touch;
}

.list_of_cards::-webkit-scrollbar {
    display: none;
}

.profile_card {
    flex: 0 0 auto; 
    width: 213px;
    border-radius: 8px;
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.3);
    margin: 1em;
}

.profile_image {
    width: 215px;
    height: 120px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    object-fit: cover;
}

.name {
    font-weight: 600;
    font-size: 1.678em;
    margin: 0.5em 0.5em 0 0.4em;
}

.title {
    font-weight: 400;
    font-size: 1.33em;
    margin: 0 0.5em 0.5em 0.5em;
}

.description {
    font-weight: 300;
    font-size: 1.33em;
    margin: 0 0.5em 0.5em 0.5em;
}

.read_more {
    margin: 0.7em;
}
.read_more a{
    font-weight: 400;
    font-size: 1em;
    color: #0960C6;
    text-decoration: none;
}

footer {
    width: 100%;
    height: 50px;
    background-color: #0960C6;
    color: white;
    position: relative;
    margin: 1em 0 0 0;
}

.footer_text {
    padding: 0.2em;
    text-align: center;
    font-weight: 400;
    font-size: 1.2em;
    text-decoration: none;
}

.signup_card {
    margin: 0 1em 0 1em;
    text-align: center;
}

.bottom_card {
    width: 95%;
    border-radius: 8px;
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.3);
    margin: 0 auto !important;
    padding: 0.5em 0 0.5em 0;
}

@media screen and (max-width:767px) {
     /* By default style is built for that */
     #landing_image {
        display: none;
    }
}

@media screen and (min-width:768px) and (max-width:899px) {
    nav {
        margin: 2em;
    }
    nav a {
        font-size: 1.33em;
        text-decoration: underline;
    }
    .landing_section {
        flex-direction: row;
        margin: 2em;
    }
    #landing_image {
        width: 100%;
        max-width: 334px;
        height: auto;
    }
    #wrapper_text {
        align-items: initial;
    }
    .heading_1 {
        font-size: 3.2em;
        text-align: initial;
        margin-right: 1em;
    }
    .heading_2 {
        text-align: initial;
        margin: 1em 1em 0 0;
    }
    .heading_3 {
        font-size: 2.33em;
    }
    .tag {
        padding: 0.3em 0.8em;
    }
    .signup_card {
        margin: 2em 1em 0 1em;
    }
    .bottom_card {
        padding: 1em;
    }

}

@media screen and (min-width:900px) {
    nav {
        margin: 2em;
    }
    nav img {
        margin-left: 1em;
    }
    nav a {
        font-size: 1.33em;
        text-decoration: underline;
    }
    .landing_section {
        flex-direction: row;
        margin: 2em;
    }
    #landing_image {
        width: 100%;
        max-width: 450px;
        height: auto;
    }
    #wrapper_text {
        align-items: initial;
        padding-left: 1em;
    }
    .heading_1 {
        font-size: 3.7em;
        text-align: initial;
        margin-right: 1em;

    }
    .heading_2 {
        text-align: initial;
        margin: 0 1em 0 0;
        font-size: 1.5em;
    }
    .heading_3 {
        font-size: 3.4em;
    }
    .tag {
        margin: .5em;
        padding: 0.3em 0.8em;
    }
    .list_of_cards {
        flex-wrap: wrap;
        overflow-x: initial;
        -webkit-overflow-scrolling: initial;
        justify-content: space-evenly;
    }
    .profile_card {
        margin: 2em;
    }
    .signup_card {
        margin: 2em 1em 0 1em;
    }
    .bottom_card {
        padding: 1em;
    }
}
